/* Base columns styling */
.columns > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.columns img {
  width: 100%;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns > div > div {
  order: 1;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: row;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
